 /* Responsividade */
 @media (min-width: 0px){
    /* celulares */
    .container { width: 100%; }
}

@media (min-width: 400px){
    /* tablets */
    .container { width: 75%; }
}

@media (min-width: 900px){
    /* monitores */
    .container { width: 50%; }
}

/* Conteúdo */
.navegacao {
    height: 100px; 
    width: auto;
    background-color: black;
    box-shadow: 1px 2px #54542c;
    color: aliceblue;
    text-align: center;
}

.nav-menu > li {
    padding: 0 0 0 30px;
    background-color: black;
    width: 100%;
    height: auto;
}

.custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom.navbar-toggler {
    border-color: rgb(252, 252, 252);
    width: 22vw;
    height: 18vw;
    background-color: black;
} 

.titulo {
    text-align: center;
    font-size: 24px;
    color: #333;
}

#templateindex {
    text-align: center;
}

#template {
    width: 100%; /* Imagem inteira sem zoom */
    max-width: 100%; /* Garante que a imagem não ultrapasse seu tamanho original */
    height: auto; /* Mantém a proporção da imagem */
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* Alterado para "relative" */
    bottom: 0;
    width: 100%;
}
/* Tópicos */
.topic {
    background: #f9f9f9;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}