/* RESPONSIVO */
@media (min-width: 0px){
    /* celulares */
    article {width: 100%;}
}

@media (min-width: 400px){
    /* tablets */
    article {width: 75%;}
}

@media (min-width: 900px){
    /* monitores */
    article {width: 50%;}
}

body{
    background-color: aliceblue;
    margin: auto;
}

/*Navbar*/
.navbarmenu{
    width: auto;
    height: 50px;
    margin: 0;
    writing-mode: horizontal-tb;
    border: 1px inherit black;
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-between; /* Alinha os itens à esquerda e à direita */
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total */
}

/*Lista Navbar Elementos*/
.linavbar{
    text-align: center;
    object-fit: cover;
    display: grid;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    transition: background-color 0.3s; /* Adiciona uma transição suave ao hover */
}

.ulcabecalho{
    list-style: none;
    display: flex;
    color: #c9c8c8;
}

li{
    padding: 9px;
}

.linavbar:hover{
    background-color: rgb(90, 79, 79);
}

/*Template página inicial*/
#templateindex{
    width: 100%;
    height: 300px;
    background-color: blue;
}

.topic {
    background: #c2b5b5;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 1px;
    padding-left: 1px;
    text-align: left;
    margin: 70px;
}

#template {
    width: 100%;
    height: 300px;
    padding-inline: 5px;
    text-align: center;
    object-fit: cover;
    display: inline-block;
}

#rowfooter{
    background-color: blue;
}

.containercenter{
    display: center;
    text-align: center;
}